/* GENERAL */


html {
    scroll-behavior: smooth;
}

@font-face {
  font-family: 'NeueMontrealBook'; /* Replace with your font name */
  src: url('./assets/fonts/PPNeueMontreal-Book.woff2') format('woff2'), /* Modern browsers */
       url('./assets/fonts/PPNeueMontreal-Book.woff') format('woff');   /* Older browsers */
  font-weight: normal; /* Regular weight */
  font-style: normal;  /* Regular style */
}

@font-face {
  font-family: 'NeueMontrealBold'; /* Replace with your font name */
  src: url('./assets/fonts/PPNeueMontreal-Bold.woff2') format('woff2'), /* Modern browsers */
       url('./assets/fonts/PPNeueMontreal-Bold.woff2') format('woff');   /* Older browsers */
  font-weight: normal; /* Regular weight */
  font-style: normal;  /* Regular style */
}


* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'NeueMontrealBook', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  font-weight: 200;
  background-color: #f1f1ed;
}

html, body {
  height: 100%; /* Ensure the body spans the full viewport height */
  margin: 0; /* Remove default browser margin */
}



.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}



/* HEADER */

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  height: 17vh;
  padding: 0 20px; 
}

.btn-container {
  display: flex; 
  justify-content: flex-end; 
  flex-grow: 1;
}

.btn {
  font-size: 1rem;
    color: #333; 
    background-color: transparent;
    border: 1px solid #333; 
    border-radius: 30px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
}

.btn:hover {
  background-color: #333; 
  color: #fff; 
}

.logosmall {
  margin-left: 10px;
}

.logolarge {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 60vh;        
}

.companies {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 500px;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: xx-large;
}



/* INTRO1 */




.container1 {
  width: 100%;
  min-height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 60px 20px; /* Add some inner spacing */
  background-color: #192324; /* Dark background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* Include padding in height calculations */
}

.message {
  font-size: 18px;
  line-height: 1.6;
  font-weight: 500;
  color: #fff;
  font-size: xx-large;
  font-weight: bold;
}

.highlight {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}


/* INTRO2 */


.personal-brand-stats {
  margin: 40px auto;
  padding: 20px;
  line-height: 1.6;
  width: 100%;
}

.personal-brand-stats h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.stat {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  align-items: start;
  gap: 20px;
  margin-bottom: 30px;
}

.stat-number {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.stat-content p {
  font-size: xx-large;
  color: #333;
}

.highlight {
  color: #008b8b; /* teal */
  font-weight: bold;
}

.stat-source {
  font-size: 14px;
  color: #777;
  text-align: right;
}



/* IMAGE1 */


.branding-section {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh; 
  background: url('assets/camera.png') no-repeat center center/cover; 
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
}


.branding-content {
  max-width: 600px;
  color: white;
  text-align: left;
}

.branding-content h1 {
  font-size: 2.5rem; 
  margin-bottom: 20px;
  line-height: 1.4;
}


.cta-button {
  display: inline-block;
  background-color: white;
  color: black;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #ddd;
  transform: scale(1.05);
}









/* INTRO3 */


 
  .container3 {
  margin: 40px auto;
  padding: 20px;
  line-height: 1.6;
  width: 100%;
  margin-bottom: 20px;
} 

 .container4 {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #192324;
  margin-bottom: 100px;
} 





 header {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
} 

  .service {
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 8px;
} 

 .strategy {
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4); 
  transition: color 0.3s ease;
} 

.strategy span {
  font-size: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s ease;
  margin-left: 20px;
}

.creation {
  font-size: 18px;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.377); 
  transition: color 0.3s ease;
}

.creation span {
  font-size: 22px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.377);
  transition: color 0.3s ease;
  margin-left: 20px;
}

/* Highlight text on hover */
.service:hover .strategy,
.service:hover .strategy span {
  color: rgba(0, 0, 0, 0.9); 
}

.service:hover .creation,
.service:hover .creation span {
  color: rgb(255, 255, 255); 
}








/* HERO */

.hero-section {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh; 
  background: url('assets/person.png') no-repeat center center/cover; 
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 300px;
  color: #fff;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  margin-bottom: 20px;
}

.cta-button {
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 50px;
  background-color: #fff;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  position: absolute;
  bottom: 20px; /* Position the button 20px from the bottom */

}

.cta-button:hover {
  background-color: #000;
  color: #fff;
}

.hero-image {
  max-width: 40%;
  border-radius: 20px;
}


/* FOOTER */


.footer-section {
  text-align: center;
  padding: 40px 20px;
}

.logo-image {
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  margin: 20px 0;
  gap: 40px; 
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-column a,
.footer-column p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #222;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-column p {
  margin: 0;
  line-height: 1.4;
}

.footer-links a {
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 0.8rem;
  color: #666;
}