/* GENERAL */


html {
    scroll-behavior: smooth;
}

/* HEADER */

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.btn-container {
    display: flex;
    position: fixed;
    right: 0;
    margin-right: 10px;
}

.btn {
        font-weight: 600;
        transition: all 300ms ease;
        padding: 1rem;
        width: 8rem;
        border-radius: 2rem; 
}

.logosmall {
    display: flex;
    position: fixed;
    margin-left: 10px;
}

.logolarge {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 60vh;        
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}